<form [formGroup]="group">

	<label>{{config.label}}</label>
	<input
		type="date"
		[formControlName]="config.name"
		[placeholder]="config.placeholder"
		(change)="setNewDate()"
	>
<!--
		(change)="addEvent('input', $event)"-->
	<!--<mat-form-field>-->
		<!--<mat-datepicker-toggle-->
			<!--matPrefix-->
			<!--[for]="picker">-->

		<!--</mat-datepicker-toggle>-->
		<!--<input-->
			<!--matInput-->
			<!--[formControlName]="config.name"-->
			<!--[matDatepicker]="picker"-->
			<!--[(value)]="dateValue ? dateValue : startDate"-->
			<!--(dateInput)="addEvent('input', $event)"-->
			<!--[placeholder]="config.placeholder"-->
		<!--&gt;-->
		<!--<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>-->
	<!--</mat-form-field>-->
	<!--<mat-error *ngFor="let validation of config.validations;" >-->
		<!--<p [@error]  *ngIf="group.get(config.name).hasError(validation.name) && group.get(config.name).touched">-->
			<!--{{validation.message}}-->
		<!--</p>-->
	<!--</mat-error>-->

</form>
