@import "~src/assets/sass/style";

.action-bar, .table, .form, .components {
    width: 80%;
    height: auto;
    margin: 0 auto 30px;
}

.form {
    width: 40%;

    & > div {
        padding: 30px;
    }
}

.action-bar {
    display: flex;
    justify-content: space-between;

    & div:nth-child(2) {
        padding-right: 50px;
    }
}

section {
    margin: 0 auto;
    width: 80%;
	padding: 30px;
}
