<div>
	<section>
		<h3>Live example</h3>
	</section>
	<!--Upload--->
	<section class="table mat-elevation-z8">
		<h3>File Upload</h3>
		<pt-upload
			[config]="uploadConfig"
			(deleteEvent)="deleteFile($event)"
			(uploadEvent)="uploadFiles($event)"
		>
		</pt-upload>
	</section>

	<!--Editable Table-->
	<section class="table mat-elevation-z8">
		<h3>Editable table</h3>
		<div style="display: flex; justify-content: flex-end;">
			<div></div>
			<div>
				<pt-button-group
					[items]="actionBarConfig"
					(addEvent)="addRow($event)"
				>
				</pt-button-group>
			</div>
		</div>
		<div>
			<pt-table
				[tableSchema]="ptTableSchema"
				[dataSource]="dataSourceCtrl"
				(deleteEvent)="deleteRow($event)"
				(editEvent)="editRow($event)"
			>
			</pt-table>
		</div>
		<section *ngIf="showForm" style="width: 40%">
			<h3>Form</h3>
			<pt-dynamic-form
				[config]="configForm"
				[existentData]="rowSelected.row"
				(cancelEvent)="onCancel($event)"
				(submitEvent)="onSubmit($event)"
			></pt-dynamic-form>
		</section>
	</section>
</div>
