<form [formGroup]="group">
	<label>{{config.label}}</label>
	<div *ngFor="let option of configOptions; let i = index; let ex of existentOptions">
		<!--<mat-checkbox-->
			<!--[formControlName]="controlName"-->
			<!--(change)="onChange($event)"-->
			<!--[value]="option.name"-->
			<!--[checked]="ex.checked"-->
		<!--&gt;-->
			<!--{{option.name}} {{i}} {{ ex.checked}}-->
		<!--</mat-checkbox>-->

		<div id="input">
			<input
				type="checkbox"
				[id]="option.name"
				[formControlName]="controlName"
				(change)="onChange(option.name)"
				[value]="option.name"
				[(checked)]="option.checked"
			>
		</div>
		<div id="label">
			<label [for]="option.name">
				{{option.name}} {{i}} {{ ex.checked}}
			</label>
		</div>
	</div>
</form>
