<form [formGroup]="group">
	<!--<mat-label>{{config.label | titlecase}}</mat-label>-->
	<!--<mat-radio-group  	[formControlName]="config.name" >-->
	<!--<mat-radio-button-->
	<!--*ngFor="let option of config.options; let i = index;"-->
	<!--(change)="radioChange($event)"-->
	<!--value="{{option}}"-->
	<!--&gt;-->
	<!--{{option}}-->
	<!--</mat-radio-button>-->
	<!--</mat-radio-group>-->

	<label>{{config.label}}</label>
	<div *ngFor="let option of config.options; let i = index;">
		<div id="input">
			<input
				type="radio"
				[formControlName]="config.name"
				(change)="radioChange($event)"
				value="{{option}}"
			>
		</div>
		<div id="label">
			<label>
				{{option}}
			</label>
		</div>
	</div>
</form>
