<form  [formGroup]="group">
	<!--<div>-->
		<!--<mat-form-field class="example-full-width">-->
			<!--<input-->
				<!--matInput-->
				<!--[placeholder]="config.placeholder"-->
				<!--[formControlName]="config.name"-->
			<!--&gt;-->
		<!--</mat-form-field>-->
		<!--<mat-error *ngFor="let validation of config.validations;" >-->
			<!--<p [@error]  *ngIf="group.get(config.name).hasError(validation.name) && group.get(config.name).touched">-->
				<!--{{validation.message}}-->
			<!--</p>-->
		<!--</mat-error>-->
	<!--</div>-->

	<div>
		<label>{{config.label}}</label>
	</div>
	<div>
		<input
			[placeholder]="config.placeholder"
			[formControlName]="config.name">
		<div *ngFor="let validation of config.validations;">
			<p class="error" *ngIf="group.get(config.name).hasError(validation.name) && group.get(config.name).touched">
				{{validation.message}}
			</p>
		</div>
	</div>
</form>

