@import "~src/assets/sass/style";

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, td {
	padding: 5px;
	border: none;
}

th, thead {
	color: $pt-color;
	text-align: left;
	padding-bottom: 20px;

}

thead,
tr:not(:last-child) {
	border-bottom: 1px solid $pt-divider;
}


img {
	height: 30px;
	width: 30px;
}

