<div *ngIf="tableSchema && dataSource">
	<table>
		<thead>
		<tr>
			<th *ngFor="let h of tableSchema.fields">{{h.label}}</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let d of dataSource; let dIndex = index">
			<td *ngFor="let h of tableSchema.fields">

				<ng-container *ngIf="h.key !== 'actions' && h.key !=='icon'  && h.key !=='image'">
					{{d[h.key ]}}
				</ng-container>

				<ng-container *ngIf="h.key === 'actions'">
					<pt-button-group
						[items]="tableSchema.buttons"
						ptLayout
						[item]="{
								row: d,
								rowIndex: dIndex
								}"
					>
					</pt-button-group>
				</ng-container>

				<ng-container *ngIf="h.key === 'icon'">
					<img  src="../../../assets/{{d[h.key]}}.png" [alt]="d[h.key]" >
				</ng-container>

				<ng-container *ngIf="h.key === 'image'">
					<img  [src]="d[h.key]" [alt]="d[h.key]" >
				</ng-container>
			</td>
		</tr>
		</tbody>
	</table>
</div>


<!--<div *ngIf="_dataSource">-->
<!--<mat-table #table [dataSource]="_dataSource" aria-label="Elements">-->
<!--<ng-container *ngFor="let item of schema.fields ;" matColumnDef="{{item.key }}">-->

<!--<mat-header-cell *matHeaderCellDef> {{item.label}}</mat-header-cell>-->

<!--<ng-container>-->
<!--<mat-cell *matCellDef="let row; let rowIndex = index">-->

<!--<ng-container *ngIf="item.key !== 'actions'">-->
<!--{{row[item.key ]}}-->
<!--</ng-container>-->

<!--<ng-container *ngIf="item.key === 'actions'">-->
<!--<pt-button-group-->
<!--[items]="schema.buttons"-->
<!--ptLayout-->
<!--[item]="{-->
<!--row: row,-->
<!--rowIndex: rowIndex-->
<!--}"-->
<!--&gt;-->
<!--</pt-button-group>-->
<!--</ng-container>-->

<!--</mat-cell>-->
<!--</ng-container>-->

<!--</ng-container>-->

<!--<mat-header-row *matHeaderRowDef="schema.displayedColumns"></mat-header-row>-->
<!--<mat-row *matRowDef="let row; columns: schema.displayedColumns;"></mat-row>-->
<!--</mat-table>-->
<!--</div>-->


