<pt-button *ngFor="let el of items ; let i = index"
				[type]="el.type"
				[btnMatType]="el.btnMatType"
				[btnName]="el.btnName"
				[btnIcon]="el.btnIcon"
				[disabled]="el.disabled"
				[btnMatColor]="el.btnMatColor"
				[btnBackground]="el.btnBackground"
				[btnBorder]="el.btnBorder"
				[dataSource]="el.dataSource"

				(btnData)="onParentClick( $event )"
				[index]="i"
				[item]="item"
>
</pt-button>
<ng-content></ng-content>
