@import "~src/assets/sass/style";

section#actionBar {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#preview {
	padding: 30px;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

input[type="file"] {
	display: none;
}

.file-upload{
	@include font-source($size: 14px, $color: white);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 10px 15px;
	border-radius: 5px;
	//overflow: hidden;
	background: $pt-color;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	color: #eee;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


