<div *ngIf="config">

	<section id="actionBar">
		<div>
			<label class="file-upload">
				<input
					type="file"
					multiple
					accept=".png,.jpg,.jpeg"
					[formControl]="upload"
					(change)="previewFile($event); build($event)"
				/>
				Choose a file
			</label>
		</div>
		<div>
			<!--upload btn-->
			<pt-button-group
				[items]="config.buttons"
				[item]="{
							icon: fileExtention,
							image: previewImg,
							name: fileName,
							dimensions: sizeUnit
						}"
			>
			</pt-button-group>
		</div>
	</section>
	<section *ngIf="previewImg" id="preview">
		<div>
			<h3>Anteprima</h3>
		</div>
		<ng-container >
			<div>
				<h4>{{fileName}}</h4>
			</div>
			<div>
				<img [src]="previewImg" height="200" alt="Image preview...">
			</div>
		</ng-container>

		<ng-container *ngIf="fileList">
			<!--<div >-->
				<!--<h4>{{fileName}}</h4>-->
			<!--</div>-->
			<div *ngFor="">
				<img [src]="previewImg" height="200" alt="Image preview...">
			</div>
		</ng-container>
	</section>
	<ng-container>
		<pt-table
			[tableSchema]="config.tableSchema"
			[dataSource]="config.dataSource"
		>
		</pt-table>
	</ng-container>
</div>
