<div *ngIf="form ">
	<form
		class="dynamic-form"
		[formGroup]="form"
	>
		<ng-container
			*ngFor="let field of config.fields;"
			ptDynamicField
			[config]="field"
			[group]="form">
		</ng-container>

		<ng-container *ngIf="config.buttons">
			<pt-button-group
					ptLayout justify="right" direction
					[items]="config.buttons"
					[item]="form.value"
			>
			</pt-button-group>
		</ng-container>

		<ng-container *ngIf="isValidMsg">
			<div>
				<p >{{isValidMsg}}</p>
			</div>
		</ng-container>
	</form>
</div>
