<!--	mat-button-->
<div *ngIf="!btnMatType && btnName ? 'mat-button' : null">
	<button
		mat-button
		[color]="btnMatColor"
		(click)="btnEvent()"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

	</button>
</div>
<!---->

<!--	mat-icon-button-->
<div *ngIf="!btnName && btnIcon && !btnMatType">
	<button
			mat-icon-button
			[disabled]="disabled"
			[color]="btnMatColor"
			(click)="btnEvent($event)"
	>
		<mat-icon>{{btnIcon}}</mat-icon>
	</button>
</div>
<!---->

<!--	mat-raised-button-->
<div *ngIf="btnMatType === 'mat-raised-button'">
	<button
		mat-raised-button
		[disabled]="disabled"
		[color]="btnMatColor"
		(click)="btnEvent($event)"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

		<ng-container *ngIf="btnIcon">
			<mat-icon>{{btnIcon}}</mat-icon>
		</ng-container>
	</button>
</div>
<!---->

<!--	mat-stroked-button-->
<div *ngIf="btnMatType === 'mat-stroked-button'">
	<button
		mat-stroked-button
		[disabled]="disabled"
		[color]="btnMatColor"
		(click)="btnEvent($event)"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

		<ng-container *ngIf="btnIcon">
			<mat-icon>{{btnIcon}}</mat-icon>
		</ng-container>
	</button>
</div>
<!---->

<!--	mat-flat-button-->
<div *ngIf="btnMatType === 'mat-flat-button'">
	<button
		mat-flat-button
		[disabled]="disabled"
		[color]="btnMatColor"
		(click)="btnEvent($event)"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

		<ng-container *ngIf="btnIcon">
			<mat-icon>{{btnIcon}}</mat-icon>
		</ng-container>
	</button>
</div>
<!---->

<!--	mat-fab-button-->
<div
	*ngIf="btnMatType === 'mat-fab'">
	<button
		mat-fab
		[color]="btnMatColor"
		[disabled]="disabled"
		(click)="btnEvent($event)"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

		<ng-container *ngIf="btnIcon">
			<mat-icon>{{btnIcon}}</mat-icon>
		</ng-container>
	</button>
</div>
<!---->

<!-- mat-mini-fab -->
<div
	*ngIf="btnMatType === 'mat-mini-fab'">
	<button
		mat-mini-fab
		[disabled]="disabled"
		[color]="btnMatColor"
		(click)="btnEvent($event)"
	>
		<ng-container *ngIf="btnName">
			<label>{{btnName}}</label>
		</ng-container>

		<ng-container *ngIf="btnIcon">
			<mat-icon>{{btnIcon}}</mat-icon>
		</ng-container>
	</button>
</div>

<!--
I colori accettati dal bottone sono quelli previsti dal tema: primary, warn e accent
-->
