<header>
    <h1>Dynamic Components</h1>
</header>

<app-dashboard></app-dashboard>
<!--<mat-tab-group>-->
    <!--<mat-tab label="Components">-->
        <!--<section class="components">-->
            <!--<h2>Components</h2>-->
            <!--<mat-tab-group>-->
                <!--<mat-tab label="Buttons">-->
                    <!--<section>-->
                        <!--<h3>Buttons</h3>-->
                        <!--<mat-divider></mat-divider>-->
                        <!--<article>-->
                            <!--<div>-->
                                <!--<mat-tab-group>-->
                                    <!--<mat-tab label="Flusso di dati">-->
                                        <!--<h4>Creare il gruppo di bottoni: [items]</h4>-->
                                        <!--<p>-->
                                            <!--Per creare dei bottoni occore utilizzare il componente-->
                                            <!--<span>pt-button-group</span> e passare i dati di configurazione-->
                                            <!--all'attributo <span>[items]</span>-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--[items] è un parametro che accetta un array di oggetti contente i dati di-->
                                            <!--configurazione del bottone stabiliti lato back-end e resi disponibili-->
                                            <!--tramite un servizio. Lato front-end bisogna chiamare questo servizio-->
                                            <!--e salvarli in una variable che andrà passata nel template alla proprietà-->
                                            <!--[items]. Es: <span> [items]="actionBarConfig"</span>.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Il formato dei dati ritornati deve essere un array di oggetti. Lato-->
                                            <!--front-end, l'interfaccia ButtonInterface si assicura che i dati in arrivo-->
                                            <!--dal servizio-->
                                            <!--rispettino il nome e il tipo richiesto. I parametri di configurazione sono-->
                                            <!--stabiliti in basso.<br>-->
                                        <!--</p>-->
                                        <!--<h4>Capire quale bottone si è cliccato in un componente: [item]</h4>-->
                                        <!--<p>-->
                                            <!--Se <span>[items]</span> passa la configurazione dei bottoni al <span>pt-button</span>-->
                                            <!--pervenuta dal server, <span>[item]</span> si occupa di mandargli i dati del-->
                                            <!--componente ospite nella quale è avvenuto il click.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Ad esempio, nella pt-button-group inserita nella pt-table, il dato che verrà-->
                                            <!--passato è un oggetto contenente i valori e l’indice della riga cliccata.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Pt-button-group prenderà questo oggetto e a sua volta lo passerà al-->
                                            <!--pt-button aggiungendoci anche il valore dell’indice del bottone cliccato.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Pt-button, infine, emetterà quest’oggetto rendendolo disponibile solo al-->
                                            <!--padre pt-button-group con il nome di btnData.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Pt-button-group avrà accesso a btnData al click e lo renderà a sua volta-->
                                            <!--disponibile con il nome dell’evento associato al bottone definito-->
                                            <!--precedentemente nell’oggetto di configurazione del bottone; ad esempio:-->
                                            <!--‘addEvent’-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--Nel componente in cui pt-table viene usato, si invocherà addEvent-->
                                            <!--associandogli poi una funzione che manipolerà tali dati-->
                                        <!--</p>-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Parametri base">-->
                                        <!--<h4>type</h4>-->
                                        <!--<p>-->
                                            <!--Riguarda il tipo nativo del bottone che può essere: submit, reset e button-->
                                        <!--</p>-->
                                        <!--<h4>btnName</h4>-->
                                        <!--<p>Opzionale. Stringa contente il nome del bottone</p>-->
                                        <!--<h4>eventName</h4>-->
                                        <!--<p>Obbligatorio. Nome dell'evento con cui si vuole bindare il bottone.-->
                                            <!--Nomenclatura consigliata: nome dell'evento seguito da 'event'. Es:-->
                                            <!--'addEvent', 'deleteEvent'</p>-->
                                        <!--<h4>disabled</h4>-->
                                        <!--<p>-->
                                            <!--Opzionale. Se si vuole disabilitare il bottone di default assegnare la-->
                                            <!--stringa 'true' alla proprietà-->
                                        <!--</p>-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Parametri per lo stile">-->
                                        <!--<h4>btnMatType</h4>-->
                                        <!--<p>-->
                                            <!--Opzionale. Riguarda il tipo di stile material che si desidera applicare. Le-->
                                            <!--stringhe di configurazione accettate sono:-->
                                            <!--<span>mat-button</span>: bottone rettangolare senza elevazione e bordi <br>-->
                                            <!--<span>mat-raised-button</span>: bottone rettangolare con elevazione <br>-->
                                            <!--<span>mat-flat-button</span>: bottone rettangolare senza elevazione <br>-->
                                            <!--<span>mat-stroked-button</span>: bottone rettangolare senza elevazione e con-->
                                            <!--bordi<br>-->
                                            <!--<span>mat-icon-button</span>: bottone circolare con icona e senza testo e-->
                                            <!--background trasparente<br>-->
                                            <!--<span>mat-fab</span>: bottone circolare con elevazione e icona<br>-->
                                            <!--<span>mat-mini-fab</span>: mat-fab più piccolo<br>-->
                                            <!--Per un consulto veloce, visitare <a-->
                                                <!--href="https://material.angular.io/components/button/overview">questa</a>-->
                                            <!--pagina-->
                                        <!--</p>-->
                                        <!--<h4>btnMatColor</h4>-->
                                        <!--<p>-->
                                            <!--Opzionale. I colori accettati sono:-->
                                            <!--<span>primary</span>,-->
                                            <!--<span>accent</span> e-->
                                            <!--<span>warn</span> , e sono inpostati in pt-theme.scss in "assets/sass/"-->
                                        <!--</p>-->
                                        <!--<h4>btnIcon</h4>-->
                                        <!--<p>-->
                                            <!--Opzionale. Contiene il nome dell'icona material che si vuole assegnare al-->
                                            <!--bottone. <a href="https://www.materialpalette.com/icons">Qui</a> per-->
                                            <!--consultare le icone disponibili-->
                                        <!--</p>-->
                                        <!--<h4>Parametri opzionali per bottoni custom</h4>-->
                                        <!--<span>btnBackground</span>: stringa in esadecimale che indica il colore di-->
                                        <!--sfondo-->
                                        <!--<br>-->
                                        <!--<span>btnBorder</span>: stringa css usato per definire il bordo di un elemento:-->
                                        <!--es '1px solid #000'-->
                                        <!--<br>-->
                                        <!--<span>btnTextColor</span>: stringa in esadecimale che indica il colore del testo-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Codice">-->
                                        <!--<h4>ButtonInterface</h4>-->
                                        <!--<p>-->
                                            <!--Le proprietà che compongono l'oggetto di configurazione sono tipizzate-->
                                            <!--nell'interfaccia <span>ButtonInterface</span>-->
                                        <!--</p>-->
                                        <!--<img style="height: 70%" src="../../assets/btnint.png" alt="">-->
                                    <!--</mat-tab>-->
                                <!--</mat-tab-group>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<pt-button-group-->
                                        <!--[items]="ptButtonSchema"-->
                                        <!--justify="space-between"-->
                                        <!--align="center"-->
                                <!--&gt;-->
                                <!--</pt-button-group>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</section>-->
                <!--</mat-tab>-->
                <!--<mat-tab label="Form">-->
                    <!--<section>-->
                        <!--<h3>Form</h3>-->
                        <!--<mat-divider></mat-divider>-->
                        <!--<article>-->
                            <!--<div>-->
                                <!--<mat-tab-group>-->
                                    <!--<mat-tab label="Interfacce e utilizzo">-->
                                        <!--<h4>Configurazione</h4>-->
                                        <!--L'oggetto di configurazione viene tipizzato dal <span>FormInterface</span> e-->
                                        <!--presenta una lista di campi opzionali-->
                                        <!--<br><br>-->
                                        <!--<h4>Interfacce</h4>-->
                                        <!--<img style="height: 40%" src="../../assets/formInterface.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<span>key</span> e <span>name</span> devono combaciare. <br><br>-->
                                        <!--A <span>label</span> e <span>placeholder</span> si può associare qualunque-->
                                        <!--stringa-->
                                        <!--<br>-->
                                        <!--<h4>Utilizzo del componente</h4>-->
                                        <!--<p><span>Form semplice senza funzioni:</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/fs.png" alt="">-->
                                        <!--<br>-->
                                        <!--<p><span>Form con funzioni:</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/ff.png" alt="">-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Componenti">-->
                                        <!--<p>L'oggetto di configurazione devono rispettare questa struttura:</p> <br>-->
                                        <!--<h4>Checkbox</h4>-->
                                        <!--<img src="../../assets/check.png" alt="">-->
                                        <!--<h4>Datepicker</h4>-->
                                        <!--<img src="../../assets/data.png" alt="">-->
                                        <!--<h4>Input</h4>-->
                                        <!--<img src="../../assets/input.png" alt="">-->
                                        <!--<h4>Radio</h4>-->
                                        <!--<img src="../../assets/radio.png" alt="">-->
                                        <!--<h4>Select</h4>-->
                                        <!--<img src="../../assets/select.png" alt="">-->
                                        <!--<h4>Slider</h4>-->
                                        <!--<img src="../../assets/slider.png" alt="">-->
                                        <!--<h4>Textarea</h4>-->
                                        <!--<img src="../../assets/txt.png" alt="">-->
                                        <!--<h4>Toggle</h4>-->
                                        <!--<img src="../../assets/toggle.png" alt="">-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Validazione">-->
                                        <!--<p>La validazione va definita all'interno dell'array della proprietà-->
                                            <!--'validations' ed è opzionale e può essere <span>semplice</span> o con <span>regexp</span>,-->
                                            <!--o entrambe.</p>-->
                                        <!--<br><br>-->
                                        <!--<p>- <span>semplice</span>: se del campo è richiesta la compilazione, alla-->
                                            <!--proprietà 'validator' si indica semplicemente-->
                                            <!--<span>Validators.required</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/semplice.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<p>- <span>con regexp</span>: se il campo oltre che ad essere richiesto ha-->
                                            <!--bisogno anche che solo un certo tipo di dati venga accettato,-->
                                            <!--oltre all'oggetto per la definizione della validazione semplice va aggiunto-->
                                            <!--uno con le stesse proprietà con la variante della regexp passata-->
                                            <!--al <span>Validators.pattern</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/reg.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<p><span>Validators è un modulo di angular che permette la validazione dei reactive forms.</span>-->
                                        <!--</p>-->
                                    <!--</mat-tab>-->
                                <!--</mat-tab-group>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<pt-dynamic-form [config]="ptFormSchema2"></pt-dynamic-form>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</section>-->
                <!--</mat-tab>-->
                <!--<mat-tab label="Table">-->
                    <!--<section>-->
                        <!--<h3>Table</h3>-->
                        <!--<mat-divider></mat-divider>-->
                        <!--<article>-->
                            <!--<div>-->
                                <!--<p>-->
                                    <!--La pt-table ha bisogno due oggetti per funzionare correttamente:-->
                                <!--</p>-->
                                <!--<mat-tab-group>-->
                                    <!--<mat-tab label="Schema">-->
                                        <!--<h3> [schema]=".."</h3>-->
                                        <!--si occupa della creazione delle colonne e-->
                                        <!--delle righe-->
                                        <!--<br><br>-->
                                        <!--<img src="../../assets/ts2.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<p>-->
                                            <!--<span>key</span> e le <span>i nomi delle colonne</span> definiti in <span>displayedColumns</span>-->
                                            <!--devono essere gli stessi e avere lo stesso ordine.-->
                                        <!--</p>-->
                                        <!--<br>-->
                                        <!--<p><span>label</span> è il nome che avrà la colonna.</p>-->
                                        <!--<br>-->
                                        <!--L'array <span>buttons</span> definisce i bottoni che saranno presenti in ogni-->
                                        <!--riga della tabella. Lo schema di quest'oggetto è definito in ButtonInterface e-->
                                        <!--pertanto avrà la stessa struttura.-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="DataSource">-->
                                        <!--<h3>[dataSource]=".."</h3>-->
                                        <!--<p> che sono i dati </p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/ds2.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<p>-->
                                            <!--I nomi delle chiavi devono rispettare lo schema precedentemente definito e-->
                                            <!--l'ordine con cui vengono indicati.-->
                                        <!--</p>-->
                                        <!--<p>Siccome i nomi delle proprietà sono dinamici e vengono stabiliti in base alle-->
                                            <!--esigenze e in concomitanza con lo schema `-->
                                            <!--delle colonne, dataSource non ha un'interfaccia definita, pertanto si-->
                                            <!--appoggia alla semplice-->
                                            <!--definizione data dall'Array Object.-->
                                        <!--</p>-->
                                    <!--</mat-tab>-->
                                    <!--<mat-tab label="Utilizzo">-->
                                        <!--<p><span>Tabella senza bottoni:</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/tnof.png" alt="">-->
                                        <!--<br><br>-->
                                        <!--<p><span>Tabella con bottoni :</span></p>-->
                                        <!--<br>-->
                                        <!--<img src="../../assets/tcf.png" alt="">-->
                                        <!--<br>-->
                                    <!--</mat-tab>-->
                                <!--</mat-tab-group>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<pt-table-->
                                        <!--[schema]="ptTableSchema2"-->
                                        <!--[dataSource]="dataSourceCtrl2"-->
                                <!--&gt;-->
                                <!--</pt-table>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</section>-->
                <!--</mat-tab>-->
            <!--</mat-tab-group>-->
        <!--</section>-->
    <!--</mat-tab>-->

    <!--&lt;!&ndash; LIVE EXAMPLE&ndash;&gt;-->
    <!--<mat-tab label="Live example">-->
        <!--<app-dashboard></app-dashboard>-->
    <!--</mat-tab>-->
<!--</mat-tab-group>-->
