@import "~src/assets/sass/style";


article {
    display: flex;

    & > div {
        width: 50%;
        height: auto;
    }

    & > div:nth-child(2) {
        padding-top: 5%
    }
}

span {
    font-weight: bold;
    color: #C2185B;
}

p {
    padding-bottom: 10px
}


header {
    height: 100px;
    color: var(--pt);
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.action-bar, .table, .form, .components {
    width: 80%;
    height: auto;
    margin: 0 auto 30px;
}

p:first-of-type {
    margin-top: 30px;
}