<form [formGroup]="group">

	<div id="label">
		<label>{{config.label}}</label>
	</div>
	<div id="input">
		<select [formControlName]="config.name">
			<option *ngFor="let option of config.options"
				   [(value)]="option"
			>
				{{ option }}
			</option>
		</select>
	</div>
</form>
