@mixin font-source($size: false, $color: false, $align: false, $weight: false,  $lh: false) {
	font-family: 'Lato', sans-serif;
	@if $size { font-size: $size; }
	@if $color { color: $color; }
	@if $align { text-align: $align;}
	@if $weight { font-weight: $weight; }
	@if $lh { line-height: $lh; }
}

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}
