@import '~@angular/material/_theming';

@include mat-core();

$pt-primary: mat-palette($mat-pink, 700);
$pt-accent:  mat-palette($mat-pink, 600);
$pt-warn:    mat-palette($mat-pink, A400);

$pt-theme: mat-light-theme($pt-primary, $pt-accent, $pt-warn);

@include angular-material-theme($pt-theme);
