@import "~src/assets/sass/variables";
@import "~src/assets/sass/reset";
@import "~src/assets/sass/mixins";
@import url('https://fonts.googleapis.com/css?family=Lato');

::selection {
  color: whitesmoke;
  background: $pt-color;
  height: 20px;
}


h1, h2, h3, h4, h5, h6,
table, caption, tbody, tfoot, thead, tr, th, td,
p,
label, input, select, option{
	@include font-source($color: $pt-text)
}

.error {
	@include font-source($size: 14px, $color: $pt-error);
}

form {
	margin-bottom: 20px;
}

input {
	@include font-source($size: 16px);
	height: 30px;
	border: 1px solid transparent;
	border-bottom: 1px solid darkgray;
	transition: border-bottom 0.6s ease-out;
	width: 100%;
}

input:focus {
	outline: none;
	border-bottom: 1px solid $pt-color;
	transition: border-bottom 0.6s ease-in;
}

::-webkit-input-placeholder{
	@include font-source($size: 16px);
}

